.title {
	font-size: 38rpx;
	color: #04b8fc;
	font-weight: bold;
	margin-bottom: 30rpx;
	margin-top: 20rpx;
}
.box {
	--webkit-display: flex;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	// align-items: center;
}

.box .level {
	/* background-color: rgb(266, 254, 145); */
	/* 	
	margin-bottom: 15rpx;
	margin-right: 15rpx;
	border: #3f536e solid 1rpx; */
	padding: 20rpx 40rpx;
	margin: 10px 10rpx;
	// margin-right: 7px;
	display: inline-block;
	font-weight: bold;
	color: #999;
	box-shadow: #e8e8e8 1px 1px 10px;
}
.box .level:last-child {
    margin-right: auto;
}
.box .active {
	background-color: #04b8fc;
	color: #fff;
}