.title {
	font-size: 38rpx;
	color: #04b8fc;
	font-weight: bold;
	margin-bottom: 30rpx;
	margin-top: 20rpx;
}
.level {
	padding: 20rpx 40rpx;
	margin: 10px 10rpx;
	display: inline-block;
	font-weight: bold;
	color: #999;
	box-shadow: #e8e8e8 1px 1px 10px;
	position: relative;
}
.level:last-child {
    margin-right: auto;
}
.active {
	background-color: #04b8fc;
	color: #fff;
}
.error{
	background-color: #ff557f;
	color: #fff;
}